* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans expanded", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
input {
  padding: 5% 10%;
}
textarea {
  padding: 5% 10%;
}
button {
  color: rgb(38, 114, 141);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
